@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600|Josefin+Sans:400,600|Marck+Script|Yeseva+One&display=swap');

/*
Cormorant Garamond - text
Josefin+Sans - english text
Marck+Script - comic sans)
Yeseva+One - name developer
gerbera 
*/

body {
  margin: 0;
  padding: 0;
  font-family: Cormorant Garamond, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Cormorant Garamond, Arial, Helvetica, sans-serif;
}

/* @font-face {
  font-family: "bandera";
  src: url('/font/bandera.woff');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "gerbera";
  src: url('/font/Gerbera.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gerbera";
  src: url('/font/Gerbera_Light.otf');
  font-weight: 300;
  font-style: normal;
} */

@keyframes bg {
    0%, 10% {
        background-color: #f7e3e3;
    }
    20% {
        background-color: #f7eee3;
    }
    30% {
        background-color: #f7f7e3;
    }
    40% {
        background-color: #eef7e3;
    }
    50% {
        background-color: #e3f7f1;
    }
    60% {
        background-color: #e3f1f7;
    }
    70% {
        background-color: #e3e9f7;
    }
    80% {
        background-color: #e8e3f7;
    }
    90% {
        background-color: #f1e3f7;
    }
    10% {
        background-color: #f7e3ef;
    }
}

@-webkit-keyframes shake {
  8%, 41% {
      -webkit-transform: translateX(-10px);
      -khtml-transform: translateX(-10px);
      -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      -o-transform: translateX(-10px);
      transform: translateX(-10px); }
  25%, 58% {
      -webkit-transform: translateX(10px);
      -khtml-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
      transform: translateX(10px); }
  75% {
      -webkit-transform: translateX(-5px);
      -khtml-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      transform: translateX(-5px); }
  92% {
      -webkit-transform: translateX(5px);
      -khtml-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
      -o-transform: translateX(5px);
      transform: translateX(5px); }
  0%, 100% {
      -webkit-transform: translateX(0);
      -khtml-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }
@-moz-keyframes shake {
  8%, 41% {
      -webkit-transform: translateX(-10px);
      -khtml-transform: translateX(-10px);
      -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      -o-transform: translateX(-10px);
      transform: translateX(-10px); }
  25%, 58% {
      -webkit-transform: translateX(10px);
      -khtml-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
      transform: translateX(10px); }
  75% {
      -webkit-transform: translateX(-5px);
      -khtml-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      transform: translateX(-5px); }
  92% {
      -webkit-transform: translateX(5px);
      -khtml-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
      -o-transform: translateX(5px);
      transform: translateX(5px); }
  0%, 100% {
      -webkit-transform: translateX(0);
      -khtml-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }
@-ms-keyframes shake {
  8%, 41% {
      -webkit-transform: translateX(-10px);
      -khtml-transform: translateX(-10px);
      -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      -o-transform: translateX(-10px);
      transform: translateX(-10px); }
  25%, 58% {
      -webkit-transform: translateX(10px);
      -khtml-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
      transform: translateX(10px); }
  75% {
      -webkit-transform: translateX(-5px);
      -khtml-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      transform: translateX(-5px); }
  92% {
      -webkit-transform: translateX(5px);
      -khtml-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
      -o-transform: translateX(5px);
      transform: translateX(5px); }
  0%, 100% {
      -webkit-transform: translateX(0);
      -khtml-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }
@-o-keyframes shake {
  8%, 41% {
      -webkit-transform: translateX(-10px);
      -khtml-transform: translateX(-10px);
      -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      -o-transform: translateX(-10px);
      transform: translateX(-10px); }
  25%, 58% {
      -webkit-transform: translateX(10px);
      -khtml-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
      transform: translateX(10px); }
  75% {
      -webkit-transform: translateX(-5px);
      -khtml-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      transform: translateX(-5px); }
  92% {
      -webkit-transform: translateX(5px);
      -khtml-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
      -o-transform: translateX(5px);
      transform: translateX(5px); }
  0%, 100% {
      -webkit-transform: translateX(0);
      -khtml-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }
@keyframes shake {
  8%, 41% {
      -webkit-transform: translateX(-10px);
      -khtml-transform: translateX(-10px);
      -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      -o-transform: translateX(-10px);
      transform: translateX(-10px); }
  25%, 58% {
      -webkit-transform: translateX(10px);
      -khtml-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
      transform: translateX(10px); }
  75% {
      -webkit-transform: translateX(-5px);
      -khtml-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      transform: translateX(-5px); }
  92% {
      -webkit-transform: translateX(5px);
      -khtml-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
      -o-transform: translateX(5px);
      transform: translateX(5px); }
  0%, 100% {
      -webkit-transform: translateX(0);
      -khtml-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }
